node_modules/
Материал (КОПИЯ. УДАЛИТЬ ПОСЛЕ СДАЧИ КУРСАЧА)/
Эксперименты/
codepack
codepack.cmd
install_tools.bat
node.exe
nodevars.bat
npm
npm.cmd
npx
npx.cmd
npx.ps1
npm.ps1
Планы....txt
Оформление источника списка литературы.pdf
Правила оформления пояснительной записки.doc
Правила оформления пояснительной записки.pdf
Пример заполнения титульного листа.docx
Примерная тематика курсового проекта.docx
Структура курсового проекта по дисциплине.docx
Титул.docx



